{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Bird BQ | Сеть демократичных ресторанов</title>
{% endblock %}


{% block content %}

	<div class="content-wrap">
		<div id="content" class="content-wrap__content">

			{# HEADER #}
			<header class="header">
				<div class="container">
					<div id="logo" class="header__logo-wrap">
						<img src="img/logo.svg" alt="" class="header__logo">
					</div>
				</div>
			</header>
			{# HEADER END #}

			<h1 class="content-wrap__title">
				<img src="img/message.svg" id="message" alt="" class="content-wrap__message">
			</h1>

			{# FOOTER #}
			<footer class="footer">
				<div id="footer_content" class="container">
					<div class="footer__info">По вопросам звоните <a href="tel:+79035547700" class="footer__phone">+7 903 554-77-00</a></div>
					<div class="footer__info">Upster Group</div>
					{#<a href="#" class="footer__link">Upster Group</a>#}
				</div>
			</footer>
			{# FOOTER #}

		</div>
		<div class="content-wrap__pattern"></div>
	</div>

{% endblock %}
