@fonts: "../fonts/";

@font-face {
	font-family: 'Geometria';
	src: url('@{fonts}Geometria.eot');
	src: url('@{fonts}Geometria.eot?#iefix') format('embedded-opentype'),
		 url('@{fonts}Geometria.woff') format('woff'),
		 url('@{fonts}Geometria.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

.regular() {
	font-family: 'Geometria', sans-serif;
	font-weight: 300;
}