.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.hidden-element {display: none;}

.clearfix {zoom:1; &:before, &:after{ content:""; display:table; } &:after{ clear: both; }}

.aspect-ratio(@width, @height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (@height / @width) * 100%;
	}
	> div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.font-size(@fontSize) {
	@rem: (@fontSize / 16);
	font-size: ~"@{rem}rem";
}