.content-wrap {
	position: relative;
	height: 100%;
	min-height: 400px;
	&__content {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		overflow: hidden;
		background: white;
		transform: translate3d(0, -100%, 0);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__title {
		position: relative;
		margin: 50px 0;
		overflow: hidden;
	}
	&__message {
		opacity: 0;
		margin-left: -1.5%;
		width: calc(~"100% + 3%");
		&.animated {
			opacity: 1;
		}
	}
	&__pattern {
		width: 100%;
		height: 100%;
		background: white url("../img/pattern.png") repeat;
	}
}

@media screen and (max-width: 1024px) {
	.content-wrap {
		&__pattern {
			background-size: 400px;
		}
	}
}