.footer {
	width: 100%;
	padding-bottom: 60px;
	> .container {
		transform: translate3d(0, 300%, 0);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__info {
		color: #181818;
		.regular();
		.font-size(21);
		line-height: 1.43;
	}
	&__link {
		color: #181818;
		.regular();
		.font-size(21);
		line-height: 1.43;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__phone {
		color: #181818;
		.regular();
		.font-size(21);
		line-height: 1.43;
		text-decoration: none;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1024px) {
	.footer {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		> .container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__info {
			text-align: center;
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
}