.header {
	width: 100%;
	padding-top: 60px;
	&__logo-wrap {
		display: inline-block;
		transform: translate3d(0, -200%, 0);
	}
	&__logo {
		max-width: 130px;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		padding-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		text-align: center;
	}
}